.header {
  padding: 1rem 2rem;
  background-color: #4e60ac;
  color: #afb9e9;
  font-size: 1rem;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item {
  display: flex;
  align-items: center;
}

.dropdown:hover {
  color: #f8f8fc;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1rem;
  text-transform: uppercase;
}
