<div class="row">
  <div class="col d-flex">
    <h3 class="text-uppercase text-center title m-0">
      {{ test }}
    </h3>
  </div>
  <div class="col-12 section-container">
    <div class="section crop">
      <img
        class="d-block img-fluid"
        src="../../../assets/Spongebob.gif"
        alt=""
      />
    </div>
  </div>
  <div class="col-12 section-container">
    <div class="section crop">
      <div class="text-center my-auto">
        <div class="col-md-12">
          <div>
            <a href="#" class="btn btn-primary"
              ><i class="fa fa-backward"></i
            ></a>
            <a href="#" class="btn btn-primary"><i class="fa fa-stop"></i></a>
            <a href="#" class="btn btn-primary"><i class="fa fa-play"></i></a>
            <a href="#" class="btn btn-primary"><i class="fa fa-pause"></i></a>
            <a href="#" class="btn btn-primary"
              ><i class="fa fa-forward"></i
            ></a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
