.title {
  padding: 2rem 0 1rem 0 !important;
}

.crop {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.section-container {
  padding: 1rem 1rem 1rem 1rem;
}

.section {
  // background-color: white;
  border-radius: 0.5rem;
  // box-shadow: 0 1px 20px rgba(0, 0, 0, 0.09);
}

a {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
