.header {
  padding: 1rem 2rem;
  color: #4e60ac;
  font-size: 1rem;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item {
  display: flex;
  align-items: center;
}
